# Ignore everything
/*

# Know what to add
!.gitignore

# I like vim
!.vim/
!.vimrc
# Ignore bundles though
.vim/bundle/*
# But do install vundle
!.vim/bundle/vundle

# Also keep addons
±.addons/

# I like zsh
!.oh-my-zsh
!.zshrc

