# Ignore everything
/*

# Know what to add
!.gitignore
!.gitsubmodules
!README.md

# I like vim
!.vim/
!.vimrc
# And Tmux
!.tmux.conf
# Ignore bundles though
.vim/bundle/*
# But do install vundle
!.vim/bundle/vundle
# Keep my color setup
!.vim/colors
# Also keep addons
!addons/

# I like zsh
!.oh-my-zsh
!.zshrc

